{% extends 'blog/baseb.html' %}

{% block content %}
    {% for publicacion in publicaciones %}
        <div class="box">
            <div class="notification is-link is-light">
                {{ publicacion.fecha_publicacion }}
            </div>
            <h2><a href="{% url 'publicacion_detalle' pk=publicacion.pk %}">{{ publicacion.titulo }}</a></h2>
            <div class = "class="textarea" placeholder="e.g. Hello world"">
                {{ publicacion.texto|linebreaksbr }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

